/storage
/target
.DS_Store
nns_ip_address.txt

# Editor and IDE files
*.orig
*.bak
*.swp
.vscode/
.idea/

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
*.docker-compose.yml
.docker/
docker-data/
docker-volumes/arcade-ui/node_modules/
arcade-ui/bundle.js
arcade-ui/package-lock.json
cube-run.log
